<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>建材列表</title>
    <link rel="stylesheet" href="__PUBLIC__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>

<body class="pos-r">
    <{$start_time}><br/><{$end_time}><br/><{$supplier_id}>
    <div>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 结算系统 <span class="c-gray en">&gt;</span> 结算列表 <span class="c-gray en">&gt;</span> 续期手续费结算详细页<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
           <!--  <form action="__APP__/EarlyWarning/list_tables" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data"> -->
            <!-- </form> -->
            <div class="mt-20">
                 <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr>
                            <th>保单号</th>
                            <th>供应商</th>
                            <th>产品名称</th>
                            <th>应收保费</th>
                            <th>实收保费</th>
                            <th>承保日期</th>
                            <th>续保日期</th>
                            <th>续期年数</th>
                            <th>签约比例</th>
                            <th>结算保费</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

                
        </div>
            <div  class="mt-20" style="text-align: center;padding-top: 50px">
                <a href="javascript:;" onclick="educe_excel()" class="btn btn-danger radius">导出</a>
            </div>
     </div>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
   <script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.15/jquery.dataTables1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/DataTablesTest.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        
        $(function(){
            table = $('.table-sort').DataTable({
                  "paging": true,
                                "iDisplayLength": 10, //默认每页数量
                                //"bPaginate": true, //翻页功能
                                "bLengthChange": false, //改变每页显示数据数量
                                "bFilter": true, //过滤功能
                                "bSort": true, //排序功能
                                "bInfo": true, //页脚信息
                                "bAutoWidth": false, //自动宽度
                                "bRetrieve": true,
                                "processing": true,
                                "serverSide" : false,//服务器端进行分页处理的意思
                                "bPaginate": true,
                                searching: false, //禁用原生搜索
                               //"bProcessing": true
                  "ajax": {
                        type: "GET",
                        dataType:"json",
                        data:{"sign":"<{$renewal_sign}>"},
                        url: "<{:U('Admin/SettleAccount/get_result')}>",
                                    dataSrc: function(result) {
                                       // console.log(result);
                                        //这里result和上面jquery的ajax的代码类似，也是可以得到data.json的数据，但是这样的格式，Datatables不能直接使用，这时候需要在这里处理一下
                                        //直接返回Datatables需要的那部分数据即可
                                        return result.data;
                                    }
                                },
                                columns : [
                                            {data : "insurance_num"},
                                            {data : "provider_name"},
                                            {data : "product_name"},
                                            {data : "insurance_premium"},
                                            {data : "real_insurance_premium"},
                                            {data : "i_date"},
                                            {data : "r_date"},
                                            {data : "renew_count"},
                                            {data : "renewal_ratio"},
                                            {data : "agency_fee"}
                                           ]
                 });

        });
        function educe_excel(){
            if (confirm("确定要导出吗？")) {
                window.location.href = "<{:U('Admin/SettleExcel/get_excel',array('number'=>4,'renewal_sign'=>$renewal_sign))}>";
            }
        }
    </script>


</body>

</html>
