<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css">

    <!--引入JS-->
    <script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.js"></script>
<link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container" id="index_Dialog">
	<form action="?" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">课堂标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">课堂内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,300)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/300</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
            	<span class="select-box">
					<select name="study_type" class="select">
	                    <option value="0">请选择</option>
	                    <option value="1">产品知识讲堂</option>
	                    <option value="2">销售技巧</option>
	                    <option value="3">保险知识</option>
	                    <option value="4">名人讲堂</option>
	                </select>
				</span>
            </div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布人类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="publish_type" class="select">
                    <option value="0">请选择</option>
                    <option value="1">管理员</option>
                    <option value="2">会员</option>
                </select>
				</span>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">附件类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
            	<span class="select-box">
				<select name="attachment_type" class="select" id="sele">
                    <option value="0">请选择</option>
                    <option value="1">视频</option>
                    <option value="2">文档</option>
                </select>
				</span>
            </div>
        </div>

        <div class="row cl shipin" style="display: none;">
            <label class="form-label col-xs-4 col-sm-2">视频URL：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="study_url">
            </div>
        </div>

        <div class="row cl wendang" style="display: none;">
            <label class="form-label col-xs-4 col-sm-2">附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text"  readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple name="file-2" class="input-file">
				</span> </div>
        </div>


		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit" ><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<!--<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>-->
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jQuery.Form.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

$(function(){
	$('#sele').click(function(){
		var p1=$(this).children('option:selected').val();//这就是selected的值
		if(p1==1){
			$('.shipin').css({'display':"block"})
			$('.wendang').css({'display':"none"})
		}else if(p1==2){
			$('.shipin').css({'display':"none"})
			$('.wendang').css({'display':"block"})
		}else{
			$('.shipin').css({'display':"none"})
			$('.wendang').css({'display':"none"})
		}
	})
})


/*
* 判断提交字段值是否为空
* required  必须填写
* digits	只可输入数字
* max       最大值
* min       最小值
* */
$(function(){
	$("#form-article-add").validate({
		rules:{
            title:{
				required:true,
			},
            content:{
                required:true,
            },
            study_type:{
                min:1,
            },
           /* publish_type:{
                min:1,
            },*/
            attachment_type:{
                min:1,
            },
            study_url:{
//                required:true,
                url:true,
            },
            file_path:{
//                required:true,
                accept:true,
            },

		},
        onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            var index =$("form").serialize();
            $(form).ajaxSubmit({
                type: 'POST',
                url: "<{:U('ReleaseAudit/studyAdd')}>",
                dataType: 'json',
                data:{index},
                success: function(json){
                    switch (json.status)
                    {
                        case 0:
                            layer.msg('上传失败!',{icon:1,time:2000});
//                            window.setTimeout("window.location.href='<{:U(\"ReleaseAudit/index\")}>'",2000);
//                            setTimeout("location.reload()",1000);
                            break;
                        case 1:
                            layer.msg('上传成功!',{icon:1,time:2000});
                            window.setTimeout("window.location.href='<{:U(\"ReleaseAudit/index\")}>'",2000);
//                            location.href('<{:U("Product/index")}>');

                            break;
                    }
                }
            });
		}
	});
});

</script>
</body>
</html>