<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form action="<{:U('InsuranceRe/edit')}>" method="post" class="form form-horizontal" id="form-article-add"enctype="multipart/form-data">
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分公司代码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.branch_shop_number}>" placeholder="" id="" name="branch_shop_number">
			</div>
		</div>

		<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属标准店：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.standard_shop_number}>" placeholder="" id="" name="standard_shop_number">
            </div>
        </div>

		<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属旗舰店：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.flag_shop_number}>" placeholder="" id="" name="flag_shop_number">
            </div>
        </div>

		<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>业务员代码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.salesman_number}>" placeholder="" id="" name="salesman_number">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>业务员姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.salesman_name}>" placeholder="" id="" name="salesman_name">
			</div>
		</div>
		<!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>录入日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="entry_date" value="<{$result.entry_date}>" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
            </div>
        </div> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>录入人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.entry_name}>" placeholder="" id="" name="entry_name">
			</div>
		</div>
		<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供应商代码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.provider_id}>" placeholder="" id="" name="provider_id">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供应商名字：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.provider_name}>" placeholder="" id="" name="provider_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投保单号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.insured_number}>" placeholder="" id="" name="insured_number">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>保单号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$result.policy_number}>" placeholder="" id="" name="policy_number">
			</div>
		</div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>保单状态：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="policy_status" class="select">

                <if condition="$result.policy_status eq 1">            
                    <option value="1">有效</option>
                   <else if condition="$result.policy_status eq 2"> <option value="2">失效</option>
                   <else />  <option value="0">请选择</option>
                </if>
                    
                   
                </select>
                </span> </div>
        </div>

                <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>险种名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.insurance_name}>" placeholder="" id="" name="insurance_name">
            </div>
        </div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主险/附加险：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="insurance_status" class="select">
                <if condition="$result.insurance_status eq 1">
                    
                    <option value="1">主险</option>
                   <else if condition="$result.insurance_status eq 2" /> <option value="2">附加险</option>
                   <else /> <option value="0">请选择</option>

                </if>
                    
                   
                </select>
                </span> </div>
        </div>

                <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>保险金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.insurance_money}>" placeholder="" id="" name="insurance_money">
            </div>
        </div>


         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规模保费：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.insurance_premium}>" placeholder="" id="" name="insurance_premium">
            </div>
        </div>
		
		<div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缴费方式：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="payment_method" class="select">

                    <if condition="$result.payment_method eq 1">

                        <option value="1">支付宝</option>
                    <else if condition="$result.payment_method eq 2" />    <option value="2">微信</option>
                    <else />    <option value="0">请选择</option>
                    </if>
                   
                   
                </select>
                </span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缴费年期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.payment_limit}>" placeholder="" id="" name="payment_limit">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投保人姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.policy_holder_name}>" placeholder="" id="" name="policy_holder_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投保人身份证号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.policy_holder_card}>" placeholder="" id="" name="policy_holder_card">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投保人地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<{$result.dress}>" placeholder="" id="" name="dress">
            </div>
        </div>





        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投保人电话  ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.policy_holder_telephone}>" placeholder="" id="" name="policy_holder_telephone">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>被保人姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.insured_person_name}>" placeholder="" id="" name="insured_person_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>被保人证件类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select>
                    <eq name="insured_person_certificate" value="1">
                        <option value="1" selected="selected" >身份证</option>
                        <option value="2">护照</option>
                        <else/>
                        <option value="1" >身份证</option>
                        <option value="2" selected="selected">护照</option>
                    </eq>
                </select>

            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>被保人证件号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.insured_person_card}>" placeholder="" id="" name="insured_person_card">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>被保人电话  ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.insured_person_telephone}>" placeholder="" id="" name="insured_person_telephone">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>承保日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="insured_date" value="<{$result.insured_date}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>退保日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="surrender_date" value="<{$result.surrender_date}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>二次成功日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="two_time" value="<{$result.two_time}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>二次代理费: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.two_agency_fee}>" placeholder="" id="" name="two_agency_fee">
            </div>
        </div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>二次是否成功：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="two_state" class="select">
                <if condition="$result.two_state eq 1">
                    
                    <option value="1">成功</option>
                   <else if condition="$result.two_state eq 2" /> <option value="2">失败</option>
                   <else /> <option value="0">请选择</option>

                </if>
                    
                   
                </select>
                </span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>三次成功日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="three_time" value="<{$result.three_time}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>三次代理费: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.three_agency_fee}>" placeholder="" id="" name="three_agency_fee">
            </div>
        </div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>三次是否成功：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="three_state" class="select">
                <if condition="$result.three_state eq 1">
                    
                    <option value="1">成功</option>
                   <else if condition="$result.three_state eq 2" /> <option value="2">失败</option>
                   <else /> <option value="0">请选择</option>

                </if>
                    
                   
                </select>
                </span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>四次成功日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="four_time" value="<{$result.four_time}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>四次代理费: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.four_agency_fee}>" placeholder="" id="" name="four_agency_fee">
            </div>
        </div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>四次是否成功：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="four_state" class="select">
                <if condition="$result.four_state eq 1">
                    
                    <option value="1">成功</option>
                   <else if condition="$result.four_state eq 2" /> <option value="2">失败</option>
                   <else /> <option value="0">请选择</option>

                </if>
                    
                   
                </select>
                </span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>五次成功日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="five_time" value="<{$result.five_time}>" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" id="time_purview" class="input-text Wdate" style="width:120px;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>五次代理费: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="<{$result.five_agency_fee}>" placeholder="" id="" name="five_agency_fee">
            </div>
        </div>

        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>五次是否成功：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select name="five_state" class="select">
                <if condition="$result.five_state eq 1">
                    
                    <option value="1">成功</option>
                   <else if condition="$result.five_state eq 2" /> <option value="2">失败</option>
                   <else /> <option value="0">请选择</option>

                </if>
                    
                   
                </select>
                </span> </div>
        </div>




		


	
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">



/*
*  功能：城市三级联动JS
*  时间：2017-05-05
*  作者：JBS
*/
function loadRegion(sel,type_id,selName,url){

    jQuery("#"+selName+" option").each(function(){
        jQuery(this).remove();
    });
    jQuery("<option value=0>请选择</option>").appendTo(jQuery("#"+selName));
    if(jQuery("#"+sel).val()==0){
        return;
    }
    jQuery.getJSON(url,{pid:jQuery("#"+sel).val(),type:type_id},
        function(data){
            if(data){
                jQuery.each(data,function(idx,item){
                    jQuery("<option value="+item.id+">"+item.name+"</option>").appendTo(jQuery("#"+selName));
                });
            }else{
                jQuery("<option value='0'>请选择</option>").appendTo(jQuery("#"+selName));
            }
        }
    );
}

//判断提交字段值是否为空
$(function(){

    
    $("#form-article-add").validate({
        rules:{
            branch_shop_number:{
                required:true,
                minlength:2,
                maxlength:10
            },
            standard_shop_number:{
                required:true,
                minlength:2,
                maxlength:10
            },
            flag_shop_number:{
                required:true,
                minlength:2,
                maxlength:10
            },
            salesman_number:{
                required:true,
                minlength:2,
                maxlength:10
            },
            salesman_name:{
                required:true,
                minlength:2,
                maxlength:5
            },
            entry_name:{
                required:true,
                minlength:2,
                maxlength:5
            },
            provider_id:{
                required:true,
                minlength:2,
                maxlength:6
            },
            insured_number:{
                required:true,
                minlength:2,
                maxlength:10
            },
            insurance_name:{
                required:true,
                minlength:2,
                maxlength:10
            },
             insurance_money:{
                required:true,
                minlength:1,
                maxlength:11
            },
             insurance_premium:{
                required:true,
                minlength:1,
                maxlength:11
            },
             
             payment_limit:{
                required:true,
                minlength:2,
                maxlength:10
            },
             payment_limit:{
                required:true,
                minlength:1,
                maxlength:3
            },
             policy_holder_name:{
                required:true,
                minlength:1,
                maxlength:5
            },
             policy_holder_card:{
                required:true,
                minlength:2,
                maxlength:10
            },
            policy_holder_telephon:{
                required:true,
                isMobile:true,
            },
            insured_person_name:{
                required:true,
                minlength:2,
                maxlength:10
            },
            insured_person_telephone:{
                required:true,
                minlength:2,
                maxlength:10
            },

        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            var index =$("form").serialize();
            $(form).ajaxSubmit({
                type: 'POST',
                url: "<{:U('InsuranceRe/edit')}>",
                dataType: 'json',
                data:{index},
                success: function(json){
                    switch (json.status)
                    {
                        case 0:
                            layer.msg('编辑失败!',{icon:1,time:2000});
                            window.setTimeout("window.location.href='<{:U(\"InsuranceRe/index\")}>'",1000);
//                            setTimeout("location.reload()",1000);
                            break;
                        case 1:
                            layer.msg('编辑成功!',{icon:1,time:2000});
                            window.setTimeout("window.location.href='<{:U(\"InsuranceRe/index\")}>'",1000);
//                            location.href('<{:U("Product/index")}>');

                            break;
                    }
                }
            });
//            var index = parent.layer.getFrameIndex(window.name);
            //parent.$('.btn-refresh').click();
//          parent.layer.close(index);
        }

    });
});

</script>
</body>
</html>