<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>角色管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l">
	 <!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>  -->
	 <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','<{:U('SetAuth/roleadd')}>','800')"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a> </span> <span class="r"></div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<td scope="col" colspan="8"></td>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" value="" name=""></th>
				<th width="40">ID</th>
				<th width="200">角色名</th>
				<th width="300">描述</th>
				<th width="300">权限</th>
				<th width="300">添加时间</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
		<!-- <volist name="datas" id="vo">
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td><{$vo.id}></td>
				<td><{$vo.name}></td>
				<td><{$vo.remark}></td>
				<td>
				<volist name="vo[auth]" id="vv">
				[<{$vv.name}>]&nbsp;&nbsp;
				</volist>
				</td>
				<td><{$vo[create_time]|date="Y-m-d H:i:s",###}></td>
				<td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','<{:U('SetAuth/roleadd',array('role_id'=>$vo['id']))}>','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_role_del(this,'<{$vo[id]}>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			</volist> -->
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
/*管理员-角色-添加*/
function admin_role_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-编辑*/
function admin_role_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-删除*/
function admin_role_del(obj,id){
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "<{:U('SetAuth/roledel')}>",
			dataType: 'json',
			data: {'role_id':id},
			success: function(data){
				if(data.code==1000){
					$(obj).parents("tr").remove();
					layer.msg(data.msg,{icon:1,time:1000});
				}else{
					layer.msg(data.msg,{icon:2,time:2000});
				}
				
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
 <script type="text/javascript">
        var table;


        $(function(){

              table = $('.table').DataTable({
                    "lengthChange": false, //是否允许用户改变表格每页显示的记录数
                    serverSide: false, //启用服务器端分页
                    "language": {
                            "processing": "加载中...",
                            "lengthMenu": "每页显示 _MENU_ 条数据",
                            "zeroRecords": "没有匹配结果",
                            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                            "infoFiltered": "(由 _MAX_ 项结果过滤)",
                            "infoPostFix": "",
                            "search": "搜索:",
                            "url": "",
                            "emptyTable": "没有匹配结果",
                            "loadingRecords": "载入中...",
                            "thousands": ",",
                            "paginate": {
                                "first": "首页",
                                "previous": "上一页",
                                "next": "下一页",
                                "last": "末页"
                            }},
                    searching: false, //禁用原生搜索
                    order: [], //取消默认排序查询,否则复选框一列会出现小箭头
                    pagingType: "full_numbers", //分页样式：simple,simple_numbers,full,full_numbers
                    "aaSorting": [
                        [0, "desc"]
                    ], //默认第几个排序
                    "autoWidth": false,

                    "bStateSave": false, //状态保存
                    "aoColumnDefs": [{// 制定列不参与排序
                        "orderable": false,
                        "aTargets": [0,1,2,3,4,5,6]
                    }],
                 "ajax": {
                        type: "GET",
                        dataType:"json",
                        data:function(){

                            
                        },
                        url: "<{:U('Admin/SetAuth/role')}>",
                        dataSrc: function(result) {

                                        return result.data;
                              }
                        },
                        columns : [

                                    {data : "id"},
                                    {data : "id"},
                                    {data : "name"},
                                    {data : "remark"},
                                    {data : "auth_code"},
                                    {data : "create_time"},
                                   
                          

                                  	{"data":'id',"render" : function(data,type) {
	                             			
	                                    	var html = ' ';

	                                    	html+= "<a title='编辑'' href='javascript:;'  data-id="+data+" class='ml-5 edit' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6df;</i></a>";

	                                    	html+= ' <a title="删除" href="javascript:;" data-id='+data+' class="del ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';
	                                    	 return html;
	                 				}},
	                                   


                                ]

            }); //TABLE闭合标签
           table.on('order.dt search.dt',	//序号
		    function() {
		        table.column(0, {
		            search: 'applied',
		            order: 'applied'
		        }).nodes().each(function(cell, i) {
		            cell.innerHTML = i + 1;
		        });
		    }).draw();
   		 $(document).on('click','.edit ',function(){
                 var data_id  = $(this).attr('data-id');
                 var url = "<{:U('SetAuth/roleadd')}>"+'&role_id='+data_id;
                 // alert(url);
                 admin_role_edit('修改权限',url,800,1000);
                 // alert(data_id);
            });
   		 $(document).on('click','.del ',function(){
                 var data_id  = $(this).attr('data-id');
                 admin_role_del($(this),data_id);
                 // alert(data_id);
            });
       
    }) //jquery闭合标签
    </script>
</body>
</html>